* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  font-family: $font-body;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}


.container{
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.d-flex{
  display: flex;
}

.btn{
  padding: .8rem 4rem;
  width: 20rem;
  border: none;
  cursor: pointer;
}

.btn--primary{
  background-color: $bright-blue;
  font-weight: 700;
  font-size: 1.4rem;
  color: $gratish-blue;
}


%flex-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
