header{
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    font-family: $font;

    .logo{
      width: 9rem;

      img{
        width: 100%;
      }
    }



  nav{
    
    ul{
      list-style: none;
      

      li{
        margin-left: 6rem;

        a{
          color: $dark-blue;
          text-decoration: none;
          font-size: 1.4rem;
          transition: all .3s ease;

          &:hover{
            color: $desat-blue;
          }
        }
      };

    }
  };
}

.hero-section {
  margin-top: 12rem;
  justify-content: space-between;
  align-items: center;

  .img-container{
    width: 40%;
  }

  img{
    display: inline-block;
    width: 100%;
  }

  .text-container{
    width: 60%;

    h1{
      font-family: $font;
      color: $dark-blue;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.4;
      max-width: 90%;
    }

    p{
      font-size: 1.8rem;
      line-height: 1.2;
      padding: 2rem 0;
      max-width: 70%;
      color: $desat-blue;
    }

    input{
      padding: 1rem;
      width: 32rem;
    }

    button{
      margin-left: 1.2rem;
    }
  }
}



.full-section{
  background-image: url('../../images/bg-curve-desktop.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  margin-top: 12rem;
}

.main-section{
  padding: 12rem 0;

  .text-width{
    width: 60%;
  }

  .img-container{
    width: 40%;
  }

  img{
    width: 100%;
  }
}

.text-card-container{
    width: 60%;
}

.text{
    h2{
      font-family: $font;
      font-weight: 600;
      color: $dark-blue;
      font-size: 3.6rem;
      padding: 1rem 0;
      margin-bottom: 3rem;
    }

    p{
      font-size: 1.6rem;
      margin-bottom: 2rem;
      color: $desat-blue;
    }
}

.link{
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;

    a{
      font-size: 1.4rem;
      color: $cyan-color;

      &:hover{
        color: darken($cyan-color, 20);
      }
    }

    .arrow-photo{
      width: 2rem;
    }

}

.card{
  width: 40%;
  background-color: white;
  padding: 2.8rem;
  box-shadow: 2px 4px 16px $light-gray;

  .qout-photo{
    width: 1.6rem;
    margin-bottom: 1.2rem;
  }

  p{
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 500;
    color: #333;
  }

  .person{
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
  }

}

  .person-txt{  
    font-family: $font;
    p{
      font-weight: 700;
      font-size: 1.4rem;
    }

    small{
      font-size: 1.1rem;
      color: $light-gray;
    }
  }
  .person-photo{
    width: 3rem;

    img{
      border-radius: 50%;
    }
  }


  .contact-section{
    background-color: $desat-blue;
    padding: 12rem 0;
  }

  .text-form-container{
    align-items: center;
  }

  .text-contact{
    h3{
      font-family: $font;
      color: white;
      font-weight: bolders;
      font-size: 3.6rem;
      margin-bottom: 2.6rem;
    }

    p{
      font-size: 2.2rem;
      color: #fdfdfd;
      width: 90%;
      line-height: 1.2;
    }
  }

  .form-contact{
    justify-self: flex-end;
    input {
      padding: 1.6rem;
      width: 54rem;
      border-radius: 4px;
      outline: none;
      border: none;

      &:focus{
        outline: none;
      }
    }

    button{
      margin-top: 1.6rem;
      width: 24rem;
      padding: 1.8rem;
    }
  }

  footer{
    background-color: $dark-blue;
    color: #fdfdfd;
    padding: 6rem 0;

  .logo-col{
    width: 25%;
  }

  .links-col{
    width: 25%;
  }

  .pages-col{
    width: 25%;
  }

  .social-col{
    width: 25%;
    gap: 1rem;
  }

  .content-footer{
    justify-content: space-between;
    align-items: center;
  }

  .footer-logo{
    filter: invert(100%) sepia(0%) saturate(600) hue-rotate(280deg) brightness(150%) contrast(200%);
  }

  .logo-photo{
      width: 14rem;
      img{
        width: 100%;
      }
    }


    .logo-row{
        margin-top: 2rem;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        transition: all .3s ease;

        &:hover{
          margin-left: 1rem;
          color: lighten(#fdfdfd, 20);
        }
      }

    ul{
      list-style: none;

      li{
        margin-top: 1.6rem;
      }

      a{
        color: #fdfdfd;
        text-decoration: none;
        font-size: 1.4rem;
        transition: all 0.3s ease;

        &:hover{
          margin-left: .8rem;
          color: lighten(#fdfdfd, 50);

        }
      }
    }

    .social-photo{
      width: 3rem;
      padding: .5rem;
      border: 1px solid #fdfdfd;
      border-radius: 50%;
      cursor: pointer;
      transition: all .5s ease;

      &:hover{
        background: #fdfdfd;
      }

      &:hover img{
          filter: invert(100%) sepia(0%) saturate(600) hue-rotate(280deg) brightness(0%) contrast(200%);
      }

      img{
        width: 100%;
      }
    }

  }