header{
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    font-family: $font;

  nav{
    
    ul{
      list-style: none;
      

      li{
        margin-left: 6rem;

        a{
          color: $dark-blue;
          text-decoration: none;
          font-size: 1.4rem;
          transition: all .3s ease;

          &:hover{
            color: $desat-blue;
          }
        }
      };

    }
  };
}

.hero-section {
  margin-top: 12rem;
  justify-content: space-between;
  align-items: center;

  .img-container{
    width: 40%;
  }

  img{
    display: inline-block;
    width: 100%;
  }

  .text-container{
    width: 60%;

    h1{
      font-family: $font;
      color: $dark-blue;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.4;
      max-width: 90%;
    }

    p{
      font-size: 1.8rem;
      line-height: 1.2;
      padding: 2rem 0;
      max-width: 70%;
      color: $desat-blue;
    }

    input{
      padding: 1rem;
      width: 32rem;
    }

    button{
      margin-left: 1.2rem;
    }
  }
}

